html{
    scroll-behavior: smooth;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/******actual css start*****/
#loader{
    width: 100%;
    height: 100vh;
    background-image:url(../images/preloader.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 9999;
    overflow: hidden;
}

/*****header part start*****/
.header_part{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.navbar{
    padding: 2px 0!important;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
}
.navbar-brand img{
    width:50px;
    margin-left: 40px;
    animation-duration: 5s!important;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.navbar-nav li a{
    color: rgb(0, 0, 0)!important;
    font-weight: 400;
}
.navbar-nav li a:hover{
    color: rgba(26, 6, 6, 0.616)!important;
}
.search-box{
    background-color: rgba(7, 8, 58, 0.479);
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
    background: transparent;
}
.search-box:hover .search-txt{
    width: 120px;
}
.search-txt{
    background: transparent;
    outline: none;
    color: #000000;
    letter-spacing: 2px;
    text-align: center;
    border: none;
    width: 0px;
    transition-duration: 710ms;
}
.search-btn{
    color: rgb(0, 0, 0);
    text-align: center;
}
.search-btn:hover{
    color: rgb(0, 0, 0);
}
::-webkit-input-placeholder{
    color: rgba(81, 104, 104, 0.753);
}
.logbn input{
    padding: 5px 24px;
    background:  rgba(79, 0, 224, 0.897);
    outline: none!important;
    border: 1px solid rgba(71, 3, 197, 0.897);
    color: #ffffff;
    margin-right: 20px;
    text-transform: uppercase;
}
.center_part{
    width: 100%;
    height: 90vh;
    overflow: hidden;
}
.first_center{
    height: 90vh;
}
.second_center{
    height: 90vh;
}

#typed {
    font-size: 1.5rem;
    text-transform: uppercase;
    position: relative;
    top: 40px;
    font-family: 'Montserrat', sans-serif;
}

#typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/* Cursor */
.typed-cursor {
    display: none;
    opacity: 0;
}

@keyframes blink{
 0%{opacity: 1;}
 50%{opacity: 0;}
 100%{opacity: 1;}
}   
@-webkit-keyframes blink{
 0%{opacity: 1;}
 50%{opacity: 0;}
 100%{opacity: 1;}
}  
@-moz-keyframes blink{
 0%{opacity: 1;}
 50%{opacity: 0;}
 100%{opacity: 1;}
} 
.main_TXT{
 color: rgb(188, 7, 204);
} /* If fade out option is set */

.carousel-item img{
  margin: 50px 0;
  width: 500px;
  height: 350px;
  background-image: linear-gradient(to right,rgba(122, 255, 255, 0.185),rgba(255, 251, 0, 0.233));
  border-radius: 40% 20% 70% 30% / 30% 30% 70% 70%;
}
.first_center p{
    position: relative;
    bottom: 40px;
}
.circle{
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    line-height: 110px;
    text-align: center;
    font-size: 4rem;

}
.circle .fa{
    margin: 0;
    padding: 0%;
    animation: animates 2s linear infinite;
    color: rgb(0, 0, 0);
}
@keyframes animates {
    0%{
        transform: translateY(-50%);
        text-shadow: 0 50px 0 rgb(24, 3, 3);
    }
    20%{
        transform: translateY(0%);
        text-shadow: 0 10px 0 rgba(6, 248, 236, 0.4);
    }
    40%{
        transform: translateY(0%);
        text-shadow: 0 -10px 0 rgba(23, 7, 170, 0.815);
    }
    60%{
        transform: translateY(0%);
        text-shadow: 0 0px 0 rgb(0, 247, 255);
    }
    100%{
        transform: translateY(100%);
        text-shadow: 0 -50px 0 rgb(255, 217, 2);
    }
}
.circle:before{
    content: "SCROLL DOWN";
    font-size: .7rem;
    position: absolute;
    text-align: center;
    left: 8px;
    color: #000000;
    top:-22px
}
.second_center img{
    animation-duration: 9s!important;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.second_center a{
    text-align: center;
    position: relative;
    left: 32%;
    transform: translateX(-50%);
    background-color: rgb(188, 7, 204);
    color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    bottom: 20px;
}
.second_center a:hover{
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 0 20px rgb(0,0,0,.2);
}
/*****header part end*****/

/*****card part start*****/
.cards_code{
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.card{
    margin: 20px 0;
    border: 10px solid #ffffff75!important;
    border-radius: 30px!important;
    box-shadow: -7px -7px 20px 0 rgba(255,255,255,0.7),7px 7px 20px 0 rgb(0,0,0,0.3);
    transition-duration: 500ms;
}
.card:hover{
    transform: translateY(-10px);
    border-radius: 20px!important;
}
.card-header{
    background: none!important;
    padding: 0!important;
    border: none!important;
}
.card-header i{
    font-size: 1.6rem;
    padding: 14px 10px;
    border-radius: 50%;
    color: #ffffff;
    position: relative;
    left: 10px;
    top: 6px;
    background: linear-gradient(to right,rgb(255, 151, 14),rgb(255, 230, 0));
}
.card-body{
   padding: 30px 0!important;
}
.more_product a{
    position: relative;
    bottom: 26px;
    right: 10px;
    padding: 5px 40px;
    background: linear-gradient(to right,rgb(255, 214, 31),rgb(250, 9, 102));
    color: #ffffff;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 60px;
    transition-duration: 400ms;
}
.more_product a:hover{
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 0 20px rgb(0,0,0,.1);
}
.card-body img{
    width: 300px;
    height: 200px;
   position: relative;
   bottom: 10px;
   background: linear-gradient(to right,rgba(255, 63, 207, 0.096),rgba(53, 238, 238, 0.171));
   padding: 10px 30px;
   border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.card-body p{
    font-size: .8rem;
}
.card-footer {
    margin-bottom: 3px;
    background:none!important;
    text-align: center;
    padding: 10px 0!important;
}
.card-footer a{
    background: linear-gradient(to right,rgb(255, 151, 14),rgb(255, 230, 0));
    position: relative;
    top: 5px;
    padding: 10px 15px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    transition-duration: 400ms;
}
.card-footer a i{
    margin: 0 20px;
    text-align: right;
}
.card-footer a:hover{
    box-shadow: 0 0 20px rgb(0,0,0,.1);
    text-decoration: none;
    color: #ffffff;
}

.counting{
    width: 100%;
    height: 60vh;
    overflow: hidden;
}
.counting .testo{
    background: linear-gradient(to right,rgb(206, 255, 255) ,rgb(255, 253, 161));
}

.testo h3{
    position: relative;
    top: 50px;
    font-family: 'Montserrat', sans-serif;
}
.testo p{
    position: relative;
    top: 60px;
}
.count_code{
    color: rgb(162, 79, 165);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.count_code p{
    text-transform: uppercase;
}
.count_code h4{
    position: relative;
    top:65px
}
.testo a{
    position: relative;
    top: 100px;
    left: 41%;
    color: #ffffff;
    padding: 8px 20px;
    text-transform: uppercase;
    background: linear-gradient(to right,rgb(255, 151, 14),rgb(255, 230, 0));
}
.testo a:hover{
    box-shadow: 0 0 20px rgb(0,0,0,.1);
    text-decoration: none;
    color: #ffffff;
}
/*****card part end*****/

/*****layout part start*****/
.layout_code{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.layout_code h3{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.frist-l{
    height: 80vh;
    margin: 10px 0;
}
.second-l{
    height: 80vh;
}
.frist-l img{
    width: 400px;
    height: 200px;
    transition-duration: 400ms;
}
.frist-l img:hover{
    transform: translateY(-15px);
}
.second-l p{
    margin: 10px 0;
}
.second-l a{
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    padding: 8px 20px;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(to right,rgb(255, 151, 14),rgb(255, 230, 0));
}
.second-l a:hover{
    box-shadow: 0 0 20px rgb(0,0,0,.1);
    text-decoration: none;
    color: #ffffff;
}
/*****layout part end*****/

/*****service part start*****/
.service_code{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient( -330deg,#6416ffa2 50%, #ffffff 10%);
}
.service_code h3{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.first-s{
    height: 75vh;
}
#chartContainer{
    margin: 40px 0!important;
    border-radius: 40px!important;
}
.first-s .anm{
    position: relative;
    left: 25%;
    bottom: 10px;
    transform: translateX(-50%);
    padding: 8px 20px;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(to right,rgb(255, 151, 14),rgb(255, 230, 0));
}
.first-s .anm:hover{
    box-shadow: 0 0 20px rgb(0,0,0,.1);
    text-decoration: none;
    color: #ffffff;
}
.second-s{
    height: 75vh;
}
.swiper-container {
    width: 500px;
    height: 300px;
    padding: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .swiper-pagination{
      background: linear-gradient(to right,rgb(255, 255, 255),rgb(0, 119, 255));
       box-shadow: 0  0 20px rgb(0,0,0,.1);
       border-radius: 40px;
  }
  .s_s a{
    color: #ffffff;
    position: relative;
    top: 40%;
    padding: 15px 30px;
    background: linear-gradient(to right,rgb(255, 151, 14),rgb(255, 230, 0));
    text-transform: uppercase;
}
.s_s a:hover{
    box-shadow: 0 0 20px rgb(0,0,0,.1);
    text-decoration: none;
    color: #ffffff;
}
/*****service part end*****/

/*****addin part start*****/
.addin{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.addin h3{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.addin-f{
    height: 77vh;
}
.addin-f img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0;
   background: linear-gradient(to right,rgba(12, 255, 251, 0.498)50%,rgba(124, 14, 249, 0.364) 50%);
}
.addin-s{
    border: 10px solid rgb(255, 255, 255);
    height: 77vh;
    box-shadow: inset -7px -6px 20px rgb(0,0,0,.4);
    border-radius: 40px;
}
.center{
    width: 110px;
    height: 110px;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(../images/sthree.png);
    background-size: cover;
    border-radius: 50%;
    animation: anw 5s linear infinite;
    animation-direction: alternate;
}
@keyframes anw{
    0%{
        box-shadow: 0 0 0 15px rgba(0,0,255,.1),0 0 0 25px rgba(0,0,255,.1),0 0 0 45px rgba(0,0,255,.1),0 0 0 65px rgba(0,0,255,.1),0 0 0 65px rgba(0,0,255,.1);
    }
    50%{
        box-shadow: 0 0 0 15px rgba(0,0,255,.1),0 0 0 25px rgba(0,0,255,.1),0 0 0 45px rgba(0,0,255,.1),0 0 0 25px rgba(0,0,255,.1),0 0 0 65px rgba(0,0,255,.1);
    }
    100%{
        box-shadow: 0 0 0 15px rgba(0,0,255,.1),0 0 0 25px rgba(0,0,255,.1),0 0 0 45px rgba(0,0,255,.1),0 0 0 65px rgba(0,0,255,.1),0 0 0 65px rgba(0,0,255,.1);
    }
}
.addin-s p{
    position: relative;
    top:40%
}
.addin-s a{
    color: #ffffff;
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 50px;
    background: linear-gradient(to right,rgb(255, 151, 14),rgb(255, 230, 0));
    text-transform: uppercase;
}
.addin-s a:hover{
    box-shadow: 0 0 20px rgb(0,0,0,.1);
    text-decoration: none;
    color: #ffffff;
}
/*****addin part end*****/

/*****contact part start*****/
.cont{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.cont h3{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.second-cnt iframe{
    position: absolute;
    top: 2px!important;
    left: 50%;
    transform: translateX(-50%);
}
.first-cnt button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/*****contact part end*****/

/*****about part start*****/
.ftr-part{
    width: 100%;
    height: 50vh;
    background-color: rgb(51, 10, 165);
    overflow: hidden;
    margin-bottom: 20px;
    color: #ffffff!important;
}
.ftr-part h3{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.snd-ftr li{
    list-style: none;
    text-align: center;
}
.snd-ftr li a{
    color: #ffffff;
}
.flow_p{
   position: relative;
   bottom: 20px;
}
.scrolltop i{
    font-size: 2rem;
    position: fixed;
    bottom: 20px;
    border: 2px solid rgb(16, 79, 90);
    right: 15px;
    padding: 10px 16px;
    border-radius: 60px;
    border-top: none;
    color: rgb(104, 26, 26);
    cursor: pointer;

}

/*****about part end*****/

/******media queries*****/
@media(max-width:768px){
    .navbar{
        text-align: center;
    }
    .header_part{
        height: auto;
    }
    .center_part{
        height: auto;
    }
    #typed{
        font-size: 1.2rem;
        top: 15px;
        text-align: center;
    }
    .carousel-item img{
        margin: 30px 0;
        width: 400px;
        height: 300px;
      }
      .first_center{
          height: auto;
      }
      .first_center p{
        position: relative;
        bottom: 30px;
    }
    .second_center{
        height: auto;
        margin-bottom: 0px;
    }
    .second_center a{
        left: 20%;
        bottom: 10px;
    }
    .cards_code{
        height: auto;
    }
    .counting{
      height: auto;
      margin: 0;
      margin-bottom: 50px;
    }
    .testo h3{
      font-size: .7rem;
    }
    .testo p{
      font-size: .5rem;
    }
    .testo a{
        font-size: .8rem;
        top: 90px;
        left: 21%;
        padding: 8px 20px;
    }
    .layout_code{
        height: auto;
    }
    .frist-l{
        height: auto;
    }
    .second-l {
        height: auto;
    }
    .second-l a{
        left: 30%;
    }
    .service_code{
       height: auto;
       background: linear-gradient( -135deg,#5e0790a2 50%, #ffffff 10%);
    }
    .service_code h3{
        color: #ffffff!important;
    }
    .service_code p{
        color: #ffffff!important;
    }
    .first-s{
        height: auto;
    }
    .second-s{
        height: auto;
    }
    .swiper-container {
        width: 300px;
        height: 300px;
        padding: 10px;
        position: relative;
        left: -1px;
      }
      .f_s p{
          color: #000000!important;
          text-align: center!important;
      }
      .s_s a{
        top: 0;
        left: 22%;
        padding: 8px 20px;
    }
    .addin{
        height: auto;
    }
    .addin-f{
        height: auto;
    }
    .addin-s{
        height: 100vh;
    }
    .center{
        top: 30%;
    }
     
    .addin-s p{
        position: relative;
        top: 40%;
    }
    .addin-s a{
        top: 85%;
    }
    .cont{
        height: auto;
    }
    .first-cnt{
        height: auto;
        margin-bottom: 50px;
    }
    .second-cnt{
        height: auto;
    }
    .ftr-part{
        height: auto;
    }
    .flow_p{
        bottom: -10px;
     }
}